<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1> Thanks for signing up with Syzygy <%= @user.first_name %></h1>
    <p>
        To get all the benefits of Syzygy, please verify your account by pressing the 
        following <a href="#"> link </a>. 
        <br>
        We hope you enjoy using our app. 
    </p>
  </body>
</html>
