.text-white {
    color: #ffffff;
}

.text-blue{
    color: #356aa2;
}

.background-white {
    background-color: #ffffff;
}

.background-blue {
    background-color: #356aa2;
}

.background-orange {
    background-color: #f46732;
}